{% extends "MainLayout.html" %}
{% block post %}

<style>
    .form-group label{
        color:black;
    }
</style>

{% if not posts %}
    <h3>Nobody posted yet!</h3>
{% endif %}

<div class='blogPostContainer'>
    {% for data in posts %}
        <div>
            <div class='blogHeader'>
                <span class='blogCategory'>{{data['post_category']}}</span>
                <h1 class='postTitle'>{{data['title']}}</h1>
                <span class='postedBy'>posted on {{data['timestamp']}} by {{data['username']}}</span>
            </div>
            <div class='postContent'>
                <p>{{data['content']}}</p>
            </div>
        </div>
        <hr style="height:2px;color:gray;background-color:gray">

        <button onclick="window.location.href='/{{data['p_id']}}'">Comments</button><br><hr>
            {%if data['p_id']|int==pid|int%}
                {% for cmnt in cmnts %}
                    {% if data['p_id']==cmnt['p_id'] %}
                        <p><strong style="font-size:18px">{{cmnt['username']}}:- </strong>{{cmnt['comment']}}<br><small>{{cmnt['timestamp']}}</small></p><hr>
                    {% endif %}
                {% endfor %}
                <form method="post" action="/{{data['p_id']}}">
                    <div class="form-group">
                        {{ form.hidden_tag() }}
                        {{ form.comment.label }}: {{ form.comment(class_="form-control") }}
                        <button class="btn" style="background-color:skyBlue">Post Comment</button>
                        <br>
                    </div>
                </form>
                <button onclick="window.location.href='/hide_cmnts/{{data['p_id']}}'">Hide Comments</button>

            {%endif%}

        <hr>
    {% endfor %}
</div>

{% endblock post%}

{% block recent %}

<div class='sideBarContainer'>
        <div style="margin-bottom:20px, padding:20px, boxSizing:border-box">
            <div class='sidebarHeader'>
                <span>Developed by</span>
            </div>

              <div class="text-center">
                  <p class="text-center" style="font-family: 'Roboto Mono', monospace;"><strong style="font-weight:bold"><a href="https://nitindwivedi1.github.io/" style="color:inherit">Nitin Dwivedi</a></strong></p>
                    <div class="text-center">
                      <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a style="color:inherit" href="https://nitindwivedi1.github.io/" class="btn-floating btn-lg"><i class="mdi mdi-account-box"></i></a></li>
                        <li class="list-inline-item"><a style="color:inherit" href="https://github.com/NitinDwivedi1" class="btn-floating btn-lg"><i class="mdi mdi-github-box"></i></a></li>
                        <li class="list-inline-item"><a style="color:inherit" href="https://www.linkedin.com/in/nitin-dwivedi-834972192/" class="btn-floating btn-lg"><i class="mdi mdi-linkedin-box"></i></a></li>
                      </ul>
                    </div>
              </div>

        </div>
</div>

{% endblock recent%}