{% extends "MainLayout.html" %}
{% block content %}

{%set count=[]%}

<ul class="list-group" style="margin-top:20px">
    {% for notification in notifications %}
        {%for userPost in userPosts%}
            {%if notification['p_id']==userPost['p_id']%}
                <li style="list-style-type:none; font-size:18px;background-color:none;border-bottom:1px solid lightGray;margin-bottom:20px;padding-left:2px">{{notification['username']}} commented on your post. [{{notification['timestamp']}}]</li>
                {%set cnt=count.append(1)%}
            {%endif%}
        {%endfor%}
    {% endfor %}
</ul>
{%if not count%}
    <h3>No notifications yet!</h3>
{%endif%}

{% endblock %}