{% extends "MainLayout.html" %}
{% block content %}
<style>
    .postForm label{
        color:black;
    }
</style>
<form class="postForm" method="post" action="/post" style="color:black;margin-top:50px">
    <div class="from-group">
        {{ form.hidden_tag() }}
        {{ form.PostCategory.label }}: {{ form.PostCategory(class_="form-control") }}<br>
        {{ form.title.label }}: {{ form.title(class_="form-control") }}<br>
        {{ form.content.label }}: {{ form.content(class_="form-control", cols="35", rows="5") }}<br>
        <button class="btn btn-raised" type="submit" style="background-color:skyblue;color:black">Post</button><br>
    </div>
</form>
{% endblock %}