{% extends "MainLayout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <form method="post" action="/edit" style="width:50%;margin:auto">
        {{ form.hidden_tag() }}

        {{ wtf.form_field(form.fullname,value=current_user.fullname) }}
        {% for err in form.fullname.errors %}
            <li style="color:red;font-style:italic;font-size:12px;list-style-type:none">{{err}}</li>
        {% endfor %}

        {{ wtf.form_field(form.email,value=current_user.email) }}
        {% for err in form.email.errors %}
            <li style="color:red;font-style:italic;font-size:12px;list-style-type:none">{{err}}</li>
        {% endfor %}

        {{ wtf.form_field(form.dob,value=current_user.dob) }}

        {{ wtf.form_field(form.profession,value=current_user.profession) }}
        {% for err in form.profession.errors %}
            <li style="color:red;font-style:italic;font-size:12px;list-style-type:none">{{err}}</li>
        {% endfor %}
        <button class="btn btn-raised" type="submit" style="background-color:skyblue;color:black">Update</button>
    </form>

{% endblock %}